<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>
<div class="container">

  <p>
    <strong>Sender_name:</strong>
    <%= @email.sender_name %>
  </p>

  <p>
    <strong>Sender_email:</strong>
    <%= @email.sender_email %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @email.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @email.content %>
  </p>
</div>
</body>
</html>

